.reviews {
  .reviews__contsiner-dark {
    background: #FAFAFA;
    padding: 11px 10px 20px;
  }
  margin-bottom: 50px;
}

.reviews__box {
  position: relative;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 22px 20px 19px;
  background: #FFFFFF;
  border: 1px solid #E0E0E0;
  .bookmakers__description-reting{
    top: 16px;
    right: 10px;
  }
}
.reviews__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  color: #242526;
}
.bookmakers__description-reting {
}
.reviews__description {
  margin: 15px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 14.5px;
  line-height: 150%;
  color: #242526;
  a {
    display: inline;
    text-decoration: underline;
    color: #1e88e5;
  }
}
.reviews__user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  color: #999999;
  svg {
    width: 14px;
    height: 14px;
    margin-right: 7px;
  }
}
.reviews__user-deskription {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviews .bookmakers__link {
  margin: 0;
}
.reviews .reviews__contsiner-dark {
  padding-bottom: 0;
    }
@media screen and (min-width: 768px) {
  
  .reviews .bookmakers__link{
    margin: 0;
  }
}

@media screen and (min-width: 1140px) {
  .reviews .container {
    min-width: 360px;
    max-width: 360px;
  }
  .reviews__box{
    margin: 0;
  }
}
