.container {
  box-sizing: border-box;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 414px;
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 750px;
    padding: 0 14px;
  }
}

@media screen and (min-width: 1140px) {
  .container {
    min-width: 1140px;
    padding: 0;
  }
}
